extends layout

block content
  h2 403 : you deserve it !

  p
    | Hey dude what are you trying ?<br/>
    | It seems that you are trying to exceed your rights :/
  p Don't try to be smarter than us :)

  a(href="/").btn.btn-lg.btn-danger Start over