extends ../layout

block content

  div.page-header
    h2= activity.get("title")
      if user && activity.get("author") === user.get("username")
        - var href = "/activities/" + activity.id + "/edit"
        a(href=href).btn.btn-primary.pull-right
          span.glyphicon.glyphicon-edit
          |  Edit
  p= activity.get("description")

