extends layout

block content

    div.page-header
        h3="Hey " + user.get("username")

    div.alert.alert-warning
        h5
            | How cool is this app ?
        p
            | Right, right... For now it a little useless. But wait for the Tchoog's contribution ;-).
        
        hr
        
        p
            | IT'S GONNA BE LEGEN - wait for it - DARY! :D :D
            