doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= "Whoozin | " + title

    // Include stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')

    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  body
    div#wrap
      // Fixed navbar
      div(role="navigation").navbar.navbar-default.navbar-fixed-top
        div.container
          div.navbar-header
            button(type="button", data-toggle="collapse", data-target=".navbar-collapse").navbar-toggle
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href="/").navbar-brand Whoozin

          div.collapse.navbar-collapse
            if user
              p.navbar-text.navbar-right= "Logged as " + user.get("username") + " - "
                a(href="/logout") Logout


      // Begin page content
      div.container
        block content

    // Footer
    div#footer
      div.container
        p.text-muted Maybe powered one day by
          a(href="#")  @Tchoogg
          |  and
          a(href="#")  @Alex

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="https://code.jquery.com/jquery.js")
    // Include all compiled bootstrap's plugins
    script(src="js/bootstrap.min.js")